<template>
  <div class="home">
    <h1 data-cy="home-title">I'm learning Cypress !</h1>
    <br />
    <br />
    <br />
    <img
      data-cy="home-gif"
      src="https://media.giphy.com/media/rdma0nDFZMR32/giphy.gif"
      alt="content"
    />
  </div>
</template>
